html, body {
    max-width: 100%;
    overflow-x: hidden;
}
#h1{
    height: 200px;
    width: 200px;
    position: relative;
    top: 10px;
    left: 248px;
    color: green;
    font-size: 36px;
}
#h3{
    position: relative;
    bottom: 201px;
    left: 380px;
    font-size: 24px;
    color: black;
    font-style: italic;
}
#h4{
    position: relative;
    bottom: 220px;
    left: 273px;
    color: grey;
}
#h44{
    position: relative;
    bottom: 280px;
    left: 600px;
    font-style: italic;
    color: grey;   
}
#input{
    position: relative;
    bottom: 320px;
    left: 850px;
}
#nav1{
    position: relative;
    bottom: 310px;
    left: 550px;
    color: green;
}
#nav2{
    position: relative;
    bottom: 310px;
    left: 570px;
    color: black;
}
#nav3{
    position: relative;
    bottom: 310px;
    left: 590px;
    color: black;
}
#nav4{
    position: relative;
    bottom: 310px;
    left: 610px;
    color: black;
}
#nav5{
    position: relative;
    bottom: 310px;
    left: 630px;
    color: black;
}
#nav6{
    position: relative;
    bottom: 310px;
    left: 640px;
    color: black;
}
#div1{
    position: relative;
    color: black;
    bottom: 260px;
    background-color: gray;
    height: 70px;
    text-align: center;
    padding-top: 35px;
    
}
#Button1{
    height: 40px;
    width: 160px;
    color: white;
    background-color: darkgrey;
    border: 2px solid white ;
    font-weight: bold;
}
#div2{
    position: relative;
    bottom: 260px;
}
#img1{   
    height: 400px;
    width: 1300px;
}
#para1{
    position: relative;
    bottom: 390px;
    left: 650px;
    font-size: 30px;
    font-weight: bold;
    opacity: 0.5;
}
#button2{
    position: relative;
    height: 50px;
    width: 180px;
    color: white;
    background-color: rgb(50, 167, 50);
    font-weight: bold;
    bottom: 400px;
    left: 750px;
    border-radius: 6px;
}

.play-button1 {
    position: relative;
    margin: 25% auto;
    width: 90px;
    height: 80px;
    background-color: rgb(50, 167, 50);
    cursor: pointer;
    bottom:900px;
    left: -400px;

  }
  
.play-button {
    position: relative;
    margin: 0 auto;
    top: 30%; 
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1em 0 1em 2em;
    border-color: transparent transparent transparent white;
  }
#h5{
    position: relative;
    bottom: 1150px;
    left: 130px;
  }
#div3{
    position: relative;
    bottom: 1150px;
    left: 130px;
    
}
#button4{
    position: relative;
    height: 50px;
    width: 180px;
    color: white;
    background-color: rgb(50, 167, 50);
    font-weight: bold;
    bottom: 290px;
    left: 5px;
    border-radius: 6px;
}
#image2{
    position: relative;
    bottom: 350px;
    left: 380px;
}
#h6{
    position: relative;
    bottom: 1350px;
    font: weight 500px;
    padding-top: 5px;
    left: 500px;
}
#image4{
    position: relative;
    height: 500px;
    width: 1600px;
    opacity: 0.3;
    bottom: 2020px;
}
#h7{
    position: relative;
    bottom: 1350px;
    left:400px;
    font-size: 25px;
}
.button5{
    position: relative;
    height: 70px;
    width: 70px;
    color:white;
    border-color: green;
    bottom: 1300px;
    left: 350px;
    border-radius: 60px;
    background-color:black;
    margin: 20px;
    padding: 10px;
}
#button6{
    position: relative;
    height: 50px;
    width: 300px;
    border-color: green;
    background-color: white;
    bottom: 1200px;
    left: -140px;
    padding: 10px;
}
/* #bg1{
    background-repeat: no-repeat;
    background-size: cover;
    width: 1500px;
    height: 600px;
    bottom: 1200px;
} */
.dot{
    position: relative;
    color: black;
    bottom: 1380px;
    left: 445px;
}
.dot1{
    position: relative;
    color: black;
    bottom: 1410px;
    left: 560px;
}
.dot2{
    position: relative;
    color: black;
    bottom: 1445px;
    left: 670px;
}
.dot3{
    position: relative;
    color: black;
    bottom: 1480px;
    left: 790px;
}
.dot4{
    position: relative;
    color: black;
    bottom: 1515px;
    left: 900px;
}
#steps{
    position: relative;
    color: black;
    bottom: 1610px;
    left: 385px;
}
#steps1{
    position: relative;
    color: black;
    bottom: 1645px;
    left: 500px;
}
#steps2{
    position: relative;
    color: black;
    bottom: 1680px;
    left: 610px;
}
#steps3{
    position: relative;
    color: black;
    bottom: 1715px;
    left:730px;
}
#steps4{
    position: relative;
    color: black;
    bottom: 1750px;
    left: 840px;
}
#steps5{
    position: relative;
    color: black;
    bottom: 1785px;
    left: 950px;
}
}



